/* common styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    font-family: "Baloo Da 2","cursive";

}

html{
    font:62.5%;
}


/* End of common styles */

/* section 1 */
.section-1{
    height: 100vh;
    width: 100%;
    background-image: url(/Asset/Image/dark-bg.jpeg);

}


/* End of section 1 */