/* common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    font-family: "Baloo Da 2", cursive;
  }
  
  html {
    font-size: 62.5%;
  }
  /* end of common styles */
  
  /* section 1*/
  .section-1 {
    height: 100vh;
    width: 100%;
    background-image: url(/Asset/Image/dark-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .banner{
      width: 100%;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
  }
  
  .banner-heading{
    margin-bottom: 4rem;
    height: 20rem;
  }
  
  .banner-heading span{
     font-family: "Oswald", sans-serif;
     font-size: 12rem;
     color: #fff;
     text-transform: uppercase;
     font-size: 12rem;
     font-weight: 400;
     text-shadow: 0.3rem 0.3rem 0.6rem rgba(0,0,0.5);
     
     
  }

  .banner-paragraph{
    font-size: 4rem;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0.6);
    width: 30%;
    margin: 0 auto 4rem auto;
    padding: 1rem 0;
    box-shadow: 1rem 1rem 5rem rgba(0,0,0,0.6);
  }
  /* End of section 1 */
  
  